<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "Middleman" %></title>

    <script src="https://use.typekit.net/lem3gmz.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <%= stylesheet_link_tag :site %>
    <%= javascript_include_tag :all %>
  </head>

  <body class="<%= page_classes %>">
    <div class="container">
      <nav>
        <div class="content">
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Docs</a></li>
            <li><a href="#">Guides</a></li>
            <li><a href="#">Demo</a></li>
            <li><a href="#">Source</a></li>
        </div>
      </nav>
      <%= yield %>
    </div>
  </body>
</html>
